{% extends 'template.html' %}
{% set title = 'Register/Login' %}

{% block content %}

<h1 class="mt-3">
    Registration and Login Page
</h1> 
<hr>

<p>Are you a student <mark> looking </mark> for work or company scouting for <mark> new ideas? </mark>.</p>

<div class="row">

<div id="alert-holder">
</div>

<div class="col">
    <h3> Register </h3>

    <form>
    
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="registerEmailInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
    
        <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">Username</label>
            <input type="text" class="form-control" id="registerUsernameInput" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">Please be sensible</div>
        </div>
    
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="registerPasswordInput" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text mb-3">
          Your password must be at least 10 characters long and contain at least one of the following characters: <mark> !£$%^&*() </mark>
        </div>
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="registerConfirmPasswordInput">
        </div>
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="registerIsStudent" checked>
            <label class="form-check-label" for="registerIsStudent">Are you a student?</label>
        </div>
    </form> 
    
    <button class="btn btn-primary mt-3" onclick="registerUser()">Register</button>

</div>

<div class="col">
    <h3> Login </h3>

    <form>
    
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="loginEmailInput" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label mt-4"> Password</label>
            <input type="password" class="form-control" id="loginPasswordInput">
        </div>
      
    </form>
    
    <button type="submit" class="btn btn-primary" onclick="loginUser()">Login</button>
</div>
</div>

<script>
    function registerUser(){

        // get data from input fields
        let email = document.getElementById("registerEmailInput").value;
        let username = document.getElementById("registerUsernameInput").value;
        let password = document.getElementById("registerPasswordInput").value;
        let confirmPassword = document.getElementById("registerConfirmPasswordInput").value;
        let isStudent = document.getElementById("registerIsStudent").value;

        // data stored in JSON object to be sent
        let data = {
            email: email,
            username: username,
            password: password,
            confirmPassword: confirmPassword,
            isStudent: isStudent,
        };

        // send data
        socket.emit("register_user", data);
    }

    function loginUser(){

        // get data from input fields
        let email = document.getElementById("loginEmailInput").value;
        let password = document.getElementById("loginPasswordInput").value;

        // store data in JSON object to be sent
        let data = {
            email: email,
            password: password
        }

        // send data
        socket.emit("login_user", data)
    }

    socket.on("reglog_succeeded", function(){
        // redirect the user to the homepage
        window.location.href = "http://localhost:8080/homepage/";
    })

    socket.on("reglog_failed", function(data){
        let alert_holder = document.getElementById("alert-holder");
        alert_holder.innerHTML =        `<div class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                        <div>
                                            <strong> Registration failed </strong> ${data.details}
                                        </div>
                                        </div>`;
    })

</script>


{% endblock %}